/* Cat photo editing */
.Siamesepicture{
    width:100%;
    padding: 0px;
    margin: 0px;
}
.mainpageimages img{
   display: inline-block;
    width: 60%;
    margin: 20px 20%;
    border-radius: 20px;
}
p.kittentextmainpage {
    color: white;
    text-align: center;
}
.sign img{
    width: 23px;
}
.locationPage p img{
    width: 98%;
    border: solid 4px Beige;
    margin-right: 2px;
}
.aboutusimages img{
    width: 300px;
    padding: 10px;
    margin-left: 60px;
    border: 4px solid  rgb(59, 32, 19);
    border-radius: 3px;
}

/* end cat photo editing */



/* main page editing */
body.main-page{
    background-color:rgb(136, 88, 71);
}
.ArtistName{
    font-style:normal;
    text-decoration-line: underline;
}

.link-tabs a{
    color: beige;
    text-decoration: none;
}
.main-information h2{
      Color: rgb(59, 32, 19);
    font-size: 25px;
    background-color: rgb(211, 154, 116);
    padding: 10px;
}
.main-information p{
    color:pink;
    text-align: center;
}
.ArtGuid{
    color:beige;
    text-decoration: none;
}
.ArtGuidList{
    list-style: none;
    color: pink;
}
.guidlinelist {
    color:pink;
}
.Enteringartpieces h3{
    Color: rgb(59, 32, 19);
    font-size: 24px;
    background-color: rgb(211, 154, 116);
    padding: 10px;
}
.Enteringartpieces p{
    text-align: center;
    color: pink;
    
}

/* end main page editing */

/* menu page editing */
body.menu-page{
  background-image: url(imgs/coffeebeanbbackground.jpg);
  font-family: sans-serif;
}

.Menulist h2{
    Color: rgb(59, 32, 19);
    font-size: 40px;
    text-align: center;
}

.Menulist{
    background-color:beige;
    padding: 20px;
    margin: 15px;
    border-radius: 30px;
    border: 2px solid rgb(59, 32, 19);
}

.drink {
    font-size: 23px;
}

.description{
    color: #392518;
}

.drink, .description{
   list-style-type: none;
}
.description{
    text-align: center;
}

.dessert{
     font-size: 23px;
    list-style: none;
}

/* end menu page editing */

/* location page editing */
body.locationPage{
    background-color:rgb(136, 88, 71);
}
.cafeadress{
    color: beige;
}
.cafeadress h1{
    Font-size: 27px;
}

.opentime {
    text-align: center;
    font-size: 17px;
    font-style: italic;
}

/* end location page editing */


/* about us page */
.aboutus-page{
    background-color: beige
}
.aboutus-page p{
   Color: rgb(52, 28, 16);
   text-align: center;
}
.aboutus-page h3{
   Color: rgb(80, 43, 23);
   font-size: 25px;
}
/* end about us page */

/* general editing */
nav .sign{
    background-color: #db8a55;
    color: beige;
    padding: 10px;
    padding-left: 20px;
    z-index: 1;
    top: 0%;
    left: -10px;
    position: fixed;
    font-size: 1.6em;
    border-radius: 20px;
}
nav .location-sign{
    background-color: #db8a55;
    color: beige;
    padding: 10px;
    padding-left: 20px;
    z-index: 1;
    top: 0%;
    left: -10px;
    position: fixed;
    font-size: 1.6em;
    border-radius: 20px;
}

.linkone{
    background-color: #db8a55;
    padding: 8px;
    padding-left: 20px;
    padding-right: 34px;
    z-index: 1;
    top: 74px;
    left: -.5em;
    position: fixed;
    border-radius: 3px;
}

.linktwo{
    background-color: #db8a55;
    padding: 8px;
    padding-left: 20px;
    z-index: 1;
    top: 115px;
    left: -.5em;
    position: fixed;
    border-radius: 3px;
}

.linkthree{
    background-color: #db8a55;
    padding: 8px;
    padding-left: 20px;
    z-index: 1;
    top: 155px;
    left: -.5em;
    position: fixed;
    border-radius: 3px;
}

.email{
    color: rgb(80, 43, 23);
    text-decoration: none;
}

.title {
    color: #392518;
    font-size: 30px;
}
/* end general editing */


 /* form input */
.mainpageform {
    background-color: rgb(211, 154, 116);
    font-size:20px;
    text-align: center;
    border-radius: 6px;
    color: #392518;
}
.adress label{
    color: beige;
}
.adress .submit{
    float: right;
    display: block;
}
 /* form input end */

/*pseudo classes*/

.mainpageimages img:hover{
    position: relative;
    top: -4px;
    width: 65%;
    height: 67%;
    border: 5px solid rgb(80, 43, 23);
}
.link-tabs a:hover{
    padding: 30px;
    font-size: 19px;
    text-decoration-line: underline;
    color: rgb(255, 210, 210);
}
p::selection{
    background-color: beige;
    color: rgb(211, 154, 116);
}
.guidlinelist li::selection{
    background-color: beige;
    color: rgb(211, 154, 116);
}
.guidlinelist a::selection{
    background-color:rgb(80, 43, 23);
    color: rgb(211, 154, 116);
}
form input:focus{
    border: 4px solid rgb(80, 43, 23);
    outline: none;
}
form input:valid{
    border: 4px solid pink;
}
.drink:hover{
    font-size: 30px;
}
.dessert:hover{
    font-size: 30px;
}
/*pseudo classes end*/

/* footer */
.menufooter{
    color: beige;
    background-color:#392518;
    padding: 10px;
    border-radius: 30px;
}
.indexfooter{
   color: beige; 
}
.locationfooter{
      color: beige;
}
/* footer end */


/* resoinsive styles */
@media screen and (min-width: 600px){
.main-page h1{
    font-size: 40px;
    top: -24px;
    border-radius: 20px;
    padding-left: 50px;
    left: -.7em;
    position: fixed;
    
}
.main-page p{
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
}

.link-tabs a{
    font-size: 25px;
}

.linkone{
    top: 76px;
}

.linktwo{
    top: 125px;
}

.linkthree{
    top: 174px;
}

.link-tabs a:hover{
    padding: 30px;
    font-size: 30px;
    text-decoration-line: underline;
    color: rgb(255, 210, 210);
}
.ArtGuidList{
    font-size: 17px;
}
.Menulist{
    columns: 2;
}
.Enteringartpieces article{
  columns: 3;
}
.mainpageimages{
  columns: 2;
}
.menu-page h1{
    font-size: 40px;
    top: -24px;
    border-radius: 20px;
    padding-left: 50px;
    left: -.7em;
    position: fixed;
    
}
.locationPage h1{
    font-size: 40px;
    top: -24px;
    border-radius: 20px;
    padding-left: 50px;
    left: -.7em;
    position: fixed;
    
}
.aboutusimages{
    columns: 3;
}
.aboutus-page h1{
    font-size: 40px;
    top: -24px;
    border-radius: 20px;
    padding-left: 50px;
    left: -.7em;
    position: fixed;
    
}

}
@media screen and (min-width: 1000px){
.main-page h1{
    font-size: 70px;
    border-radius: 20px;
    color: beige;
    position: absolute;
    padding-left: 0px;
    left: 30%;
    top: 100px;
}
.menu-page h1{
    font-size: 70px;
    border-radius: 20px;
    color: beige;
    position: absolute;
    padding-left: 0px;
    left: 30%;
    top: 100px;
}
.locationPage h1{
    font-size: 70px;
    border-radius: 20px;
    color: beige;
    position: absolute;
    padding-left: 0px;
    left: 30%;
    top: 100px;
}
.aboutus-page h1{
    font-size: 70px;
    border-radius: 20px;
    color: beige;
    position: absolute;
    padding-left: 0px;
    left: 30%;
    top: 100px;
}


}

/* responsive styles end*/